@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700';
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fde3a7;
  color: concreto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
header {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2784b;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  width: 100%;
}
#contenedorMenu {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1em;
  height: 100%;
  width: 90%;
}
#contenedorMenu h1 {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}
#contenedorMenu h1 img {
  height: 30px;
  width: 30px;
}
#contenedorMenu .logo-img {
  height: 100%;
  width: 60px;
}
#contenedorMenu #menu {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}
#contenedorMenu #menu ul {
  list-style: none;
  height: 50%;
}
#contenedorMenu #menu ul li {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50%;
}
#contenedorMenu #menu ul li a {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 4px solid #eb974e;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  height: 100%;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
#contenedorMenu #menu ul li a:hover {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fde3a7;
  border-radius: 10px;
  border-bottom: 4px solid #eb974e;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  height: 100%;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
#contenedorMenu #menu ul li .actived {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fde3a7;
  border-radius: 10px;
  border-bottom: 4px solid #eb974e;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  height: 100%;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
.button-crusta {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2784b;
  border-radius: 10px;
  border-bottom: 5px solid #f27935;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 60px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: none;
  min-width: 120px;
}
.button-crusta a {
  background-color: #f2784b;
  border-radius: 10px;
  border-bottom: 5px solid #f27935;
  color: #fff;
  text-decoration: none;
}
.button-crusta:hover {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fde3a7;
  border-radius: 10px;
  border-bottom: 5px solid #eb974e;
  color: #f2784b;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.button-jaffa {
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #eb974e;
  min-height: 60px;
  min-width: 120px;
}
.button-jaffa a {
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #eb974e;
  color: #eb974e;
  text-decoration: none;
}
.button-jaffa:hover {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eb974e;
  border-radius: 10px;
  border-bottom: 5px solid #eb974e;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.button-seabuckthorn {
  background-color: #eb974e;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  min-height: 60px;
  min-width: 120px;
}
.button-seabuckthorn a {
  background-color: #eb974e;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  color: #fde3a7;
  text-decoration: none;
}
.button-seabuckthorn:hover {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eb974e;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  color: #fde3a7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.button-jaffa-capehoney {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  color: #fde3a7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 60px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: none;
  min-width: 120px;
}
.button-jaffa-capehoney a {
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  color: #fde3a7;
  text-decoration: none;
}
.button-jaffa-capehoney:hover {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fde3a7;
  border-radius: 10px;
  border-bottom: 5px solid #eb974e;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.button-jaffa-white {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #fff;
  color: #fde3a7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 60px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: none;
  min-width: 120px;
}
.button-jaffa-white a {
  background-color: #f27935;
  border-radius: 10px;
  border-bottom: 5px solid #fde3a7;
  color: #fde3a7;
  text-decoration: none;
}
.button-jaffa-white:hover {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 5px solid #f27935;
  color: #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
}
.white-spacex {
  height: 70px;
  width: 100%;
}
#contenedor-default {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 650px;
  width: 100%;
}
#proximo-evento {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2784b;
  box-shadow: 10px 10px 50px 20px #f27935 inset;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  color: #fde3a7;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#left-column {
  border-right: 1px dotted #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.event-title-e {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 0%;
  padding-left: 20px;
  width: auto;
}
.event-title-e img {
  height: 15px;
  width: 15px;
}
.event-title {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 10%;
  padding-left: 20px;
  width: auto;
}
.event-title img {
  height: 20px;
  width: 20px;
}
.event-subtitle {
  height: 10%;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0px 20px;
  width: auto;
}
.event-body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  padding: 0px 20px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 20px;
  width: auto;
}
.social-networks-events {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 10%;
  width: 100%;
}
.social-networks-events a {
  height: 50px;
  width: 50px;
}
.social-networks-events a img {
  height: 50px;
  width: 50px;
}
#button-content {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  font-size: 0.9em;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
}
#right-column {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
#right-column h4 {
  color: #fff;
}
.event-date {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.5em;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 10%;
  padding-right: 20px;
  width: auto;
}
.event-place {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1em;
  font-style: light;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 10%;
  padding: 0px 20px;
  text-align: justify;
  text-indent: 20px;
  width: auto;
}
#img-maps {
  height: 60%;
  width: 100%;
}
#img-maps img {
  height: 100%;
  width: 80%;
}
.nos-services {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 10%;
  font-size: 2em;
  width: 100%;
}
#cont-serv {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 90%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
}
.serv-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.serv-left img {
  padding-right: 20px;
}
.title-serv-one {
  color: #f27935;
}
.title-serv-two {
  color: #ffc0cb;
}
.title-serv-three {
  color: #fde3a7;
}
.serv-tp {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px dotted #fde3a7;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 15%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
}
.serv-tp h2 {
  width: 60%;
}
.serv-right {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-left: 1px dotted #f27935;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.serv-right img {
  height: 50%;
  width: 95%;
}
.serv-body {
  height: 30%;
  width: 95%;
}
.serv-body p {
  font-size: 0.9em;
  text-align: justify;
  text-indent: 20px;
}
.cont-button {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 95%;
}
.cont-button a {
  width: 40%;
}
.producto-title {
  height: 5%;
  font-size: 2em;
  width: 100%;
}
.producto-subtitle {
  height: 5%;
  width: 100%;
}
#cont-prod {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}
#product {
  background-color: #fde3a7;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px 20px;
  width: 20%;
  height: 40%;
}
#product img {
  height: 80%;
  width: 100%;
}
#title-prod {
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  background-color: #f2784b;
  color: #fde3a7;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  height: 20%;
  width: 100%;
}
#title-prod a {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fde3a7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  text-decoration: none;
}
.contac-title {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20%;
  font-size: 2em;
  width: 100%;
}
#cont-contac {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80%;
  width: 90%;
}
#form-contac {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}
#form-contac form {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  width: 80%;
}
.fil-one {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}
.fil-one input {
  background: linear-gradient(to bottom, #fff 96%, #f2784b 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #f2784b;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 25px;
  padding: 10px 0;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.fil-one input:focus,
.fil-one input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.fil-one input::-webkit-input-placeholder {
  transition: all 0.3s ease-in-out;
}
.fil-one input:focus::-webkit-input-placeholder {
  color: #f27935;
  font-size: 1em;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}
.fil-two {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.fil-two textarea {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #f2784b;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fil-two textarea:focus {
  box-shadow: none;
  border-bottom: 3px solid #f2784b;
  outline: none;
}
.fil-two textarea background linear-gradient(to bottom,
.fil-two textarea white 96%,
.fil-two textarea crusta 4%) {
  background-position: 0 0;
  transition: all 0.9s ease-in;
}
.cont-button-send {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
}
.button-send {
  border: 1px solid #f2784b;
  background-color: #fff;
  color: #f2784b;
  height: 100%;
  letter-spacing: 5px;
  width: 20%;
}
.button-send:hover {
  border: 1px solid #fde3a7;
  background-color: #f2784b;
  color: #fde3a7;
  height: 100%;
  width: 20%;
}
#contac-img {
  algin-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 20%;
}
.fil-info {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #f2784b;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 5%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.fil-info i {
  width: 10%;
}
.fil-info a {
  color: #f2784b;
  width: 70%;
  text-decoration: none;
}
footer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fde3a7;
  color: #f2784b;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
#menuAdmin {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 50px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
#menuAdmin h1 {
  border: 2px solid #f00;
  height: 100%;
  width: 40%;
}
#usuarioAdmin {
  border: 2px solid #808080;
  height: 100%;
  width: 60%;
}
