#menuAdmin
	align-items center
	background-color white
	border-bottom 1px dotted crusta
	display flex
	flex-direction row
	height 50px
	justify-content center
	position relative
	width 100%
	h1
		align-items center
		display flex
		color capehoney
		flex-direction row
		justify-content center
		height 100%
		width 40%
#usuarioAdmin
	align-items center
	color crusta
	display flex
	flex-direction row
	justify-content center	
	height 100%
	width 60%
#contenedor-paneladmin
	background-color white
	display inline-flex
	flex-direction row
	justify-content center
	height 600px
	position relative
	width 100%
#column-izquierdadmin
	background-color capehoney
	border-right 1px solid crusta
	border-bottom 1px solid crusta
	height 100%
	width 20%
	nav
		ul
			li
				align-items center
				background-color crusta				
				border 1px solid capehoney
				display flex
				flex-direction column
				justify-content center
				height 50px
				width 100%
				a
					align-items center
					color white
					display inline-flex
					flex-direction row
					justify-content center
					height 100%
					text-decoration none
					width 100%
				a:hover
					background-color jaffa
					color capehoney
					height 100%
					text-decoration none
					width 100%
#column-derechaadmin
	background-color white
	border-bottom 1px solid crusta
	height 100%
	width 80%