.button-crusta
	align-items center
	background-color crusta
	bordes(10px)
	border-bottom 5px solid jaffa
	color white
	display flex
	flex-direction row
	min-height 60px
	justify-content center
	font-size 1.2em
	text-decoration none
	min-width 120px
	a
		background-color crusta
		bordes(10px)
		border-bottom 5px solid jaffa
		color white
		text-decoration none
.button-crusta:hover
	align-content center
	align-items center
	background-color capehoney
	bordes(10px)
	border-bottom 5px solid seabuckthorn
	color crusta
	display flex
	font-size 1.2em
	text-decoration none
.button-jaffa
	background-color jaffa
	bordes(10px)
	border-bottom 5px solid seabuckthorn
	min-height 60px
	min-width 120px
	a
		background-color jaffa
		bordes(10px)
		border-bottom 5px solid seabuckthorn
		color seabuckthorn
		text-decoration none
.button-jaffa:hover
	align-content center
	align-items center
	background-color seabuckthorn
	bordes(10px)
	border-bottom 5px solid seabuckthorn
	color jaffa
	display flex
	font-size 1.2em
	text-decoration none
.button-seabuckthorn
	background-color seabuckthorn
	bordes(10px)
	border-bottom 5px solid capehoney
	min-height 60px
	min-width 120px
	a
		background-color seabuckthorn
		bordes(10px)
		border-bottom 5px solid capehoney
		color capehoney
		text-decoration none
.button-seabuckthorn:hover
	align-content center
	align-items center
	background-color seabuckthorn
	bordes(10px)
	border-bottom 5px solid capehoney
	color capehoney
	display flex
	font-size 1.2em
	text-decoration none
.button-jaffa-capehoney
	align-items center
	background-color jaffa
	bordes(10px)
	border-bottom 5px solid capehoney
	color capehoney
	display flex
	flex-direction row
	min-height 60px
	justify-content center
	font-size 1.2em
	text-decoration none
	min-width 120px
	a
		background-color jaffa
		bordes(10px)
		border-bottom 5px solid capehoney
		color capehoney
		text-decoration none
.button-jaffa-capehoney:hover
	align-content center
	align-items center
	background-color capehoney
	bordes(10px)
	border-bottom 5px solid seabuckthorn
	color jaffa
	display flex
	font-size 1.2em
	text-decoration none
.button-jaffa-white
	align-items center
	background-color jaffa
	bordes(10px)
	border-bottom 5px solid white
	color capehoney
	display flex
	flex-direction row
	min-height 60px
	justify-content center
	font-size 1.2em
	text-decoration none
	min-width 120px
	a
		background-color jaffa
		bordes(10px)
		border-bottom 5px solid capehoney
		color capehoney
		text-decoration none
.button-jaffa-white:hover
	align-content center
	align-items center
	background-color white
	bordes(10px)
	border-bottom 5px solid jaffa
	color jaffa
	display flex
	font-size 1.2em
	text-decoration none