.contac-title
	align-items center
	display flex
	flex-direction row
	justify-content center
	height 20%
	font-size 2em
	width 100%
#cont-contac
	align-items center
	display inline-flex
	flex-direction row
	justify-content center
	height 80%
	width 90%
#form-contac
	align-items center
	display flex
	flex-direction column
	justify-content center
	height 100%
	width 80%
	form
		align-items center
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content space-around
		height 100%
		width 80%
.fil-one
	align-items center
	display flex
	flex-direction row
	justify-content center
	height 20%
	width 100%
	input
		background linear-gradient(to bottom, white 96%, crusta 4%)
		background-position -200px 0
		background-size 200px 100%
		background-repeat no-repeat
		border none
		border-bottom 1px solid crusta
		color black
		display flex
		margin 40px 25px
		padding 10px 0
		transition all 0.3s cubic-bezier(0.64,0.09,0.08,1)
		&:focus, &:valid
			box-shadow none
			outline none
			background-position 0 0
		&::-webkit-input-placeholder
			transition all 0.3s ease-in-out
		&:focus::-webkit-input-placeholder
			color jaffa
			font-size 1em
			transform translateY(-20px)
			visibility visible !important
.fil-two
	align-items center
	display flex
	flex-direction row
	justify-content center
	height 40%
	width 100%
	textarea
		height 200px
		width 100%
		background-repeat no-repeat
		border none
		border-bottom 1px solid crusta
		color black
		display flex
		&:focus
			box-shadow none
			border-bottom 3px solid crusta
			outline none
		    background linear-gradient(to bottom, white 96%, crusta 4%)
			background-position 0 0
			transition all 0.9s ease-in
.cont-button-send
	align-items flex-end
	display flex
	flex-direction row
	justify-content flex-end
	height 10%
	width 100%
.button-send
	border 1px solid crusta
	background-color white
	color crusta
	height 100%
	letter-spacing 5px
	width 20%
.button-send:hover
	border 1px solid capehoney
	background-color crusta
	color capehoney
	height 100%
	width 20%
#contac-img
	algin-items center
	display flex
	flex-direction column
	height 80%
	justify-content space-around
	width 20%
.fil-info
	align-items center
	display inline-flex
	color crusta
	flex-direction row
	height 5%
	justify-content center
	width 100%
	i
		width 10%
	a
		color crusta
		width 70%
		text-decoration none