header
	align-items center
	background-color crusta
	display flex
	flex-direction row
	justify-content center
	height 70px
	position fixed
	width 100%
#contenedorMenu
	align-items center
	display inline-flex
	flex-direction row
	justify-content space-between
	font-size 1em
	height 100%
	width 90%
	h1
		align-items center
		color white
		display inline-flex
		flex-direction row
		justify-content center
		height 100%
		width 30%
		img
			height 30px
			width 30px
	.logo-img
		height 100%
		width 60px
	#menu
		align-items center
		display inline-flex
		flex-direction row
		justify-content flex-end
		height 100%
		width 50%
		ul
			list-style none
			height 50%
			li
				display inline-flex
				height 50%
				a
					align-items center
					background-color white
					bordes(10px)
					border-bottom 4px solid seabuckthorn
					color jaffa
					display flex
					font-size 1em
					height 100%
					padding 0.5em 0.6em
					text-decoration none
				a:hover
					align-items center
					background-color capehoney
					bordes(10px)
					border-bottom 4px solid seabuckthorn
					color jaffa
					display flex
					font-size 1em
					height 100%
					padding 0.5em 0.6em
					text-decoration none
				.actived
					align-content center
					align-items center
					background-color capehoney
					bordes(10px)
					border-bottom 4px solid seabuckthorn
					color jaffa
					display flex
					font-size 1em
					height 100%
					padding 0.5em 0.6em
					text-decoration none