#proximo-evento
	align-items center
	background-color crusta
	box-shadow 10px 10px 50px 20px jaffa inset
	bordesMaterial()
	color capehoney
	display inline-flex
	flex-direction row
	justify-content center
	height 100%
	width 100%
#left-column
	border-right 1px dotted white
	display flex
	flex-direction column
	justify-content center
	height 100%
	width 50%
.event-title-e
	align-items center
	display inline-flex
	flex-direction row
	justify-content flex-start
	height 0%
	padding-left 20px
	width auto
	img
		height 15px
		width 15px
.event-title
	align-items center
	display inline-flex
	flex-direction row
	justify-content center
	height 10%
	padding-left 20px
	width auto
	img
		height 20px
		width 20px
.event-subtitle
	height 10%
	width 100%
	color white
	text-align center
	padding 0px 20px
	width auto
.event-body
	display flex
	height 40%
	padding 0px 20px
	text-align justify
	text-justify inter-word
	text-indent 20px
	width auto
.social-networks-events
	align-items center
	display inline-flex
	flex-direction row
	justify-content space-around
	height 10%
	width 100%
	a
		height 50px
		width 50px
		img
			height 50px
			width 50px
#button-content
	align-items center
	display flex
	height 10%
	font-size .9em
	justify-content center
	width auto 
#right-column
	display inline-flex
	flex-direction column
	justify-content center
	height 100%
	width 50%
	h4
		color white
.event-date
	align-items center
	display inline-flex
	flex-direction row
	font-size 1.5em
	justify-content flex-end
	height 10%
	padding-right 20px
	width auto
.event-place
	align-items center
	display inline-flex
	flex-direction row
	font-size 1em
	font-style light
	justify-content flex-start
	height 10%
	padding 0px 20px
	text-align justify
	text-indent 20px
	width auto
#img-maps
	height 60%
	width 100%
	img
		height 100%
		width 80%