.producto-title
	height 5%
	font-size 2em
	width 100%
.producto-subtitle
	height 5%
	width 100%
#cont-prod
	align-items center
	display inline-flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	height 90%
	width 100%
#product
	background-color capehoney
	bordesMaterial()
	display flex
	flex-direction column
	margin 0px 20px
	width 20%
	height 40%
	img
		height 80%
		width 100%
#title-prod
	align-items space-between
	background-color crusta
	color capehoney
	display inline-flex
	flex-direction row
	justify-content center
	font-weight bold
	height 20%
	width 100%
	a
		align-items center
		color capehoney
		display flex
		justify-content space-around
		height 100%
		width 80%
		text-decoration none
	