.nos-services
	align-items center
	display flex
	justify-content center
	height 10%
	font-size 2em
	width 100%
#cont-serv
	align-items center
	display inline-flex
	flex-direction row
	height 90%
	justify-content center
	width 90%
.serv-left
	display flex
	flex-direction column
	height 100%
	justify-content center
	width 100%
	img
		padding-right 20px
.title-serv-one
	color jaffa
.title-serv-two
	color pink
.title-serv-three
	color capehoney
.serv-tp
	align-items center
	border-bottom 2px dotted capehoney
	display inline-flex
	flex-direction row
	height 15%
	justify-content center
	width 90%
	h2
		width 60%
.serv-right
	align-items flex-end
	border-left 1px dotted jaffa
	display flex
	flex-direction column
	height 80%
	justify-content center
	width 100%
	img
		height 50%
		width 95%
.serv-body
	height 30%
	width 95%
	p
		font-size .9em
		text-align justify
		text-indent 20px
.cont-button
	align-items flex-end
	display flex
	flex-direction row
	justify-content flex-end
	width 95%
	a
		width 40%