@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700'
crusta = rgba(242, 120, 75, 1)
jaffa = rgba(242, 121, 53, 1)
seabuckthorn = rgba(235, 151, 78, 1)
capehoney = rgba(253, 227, 167, 1)
bordes(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
bordesMaterial()
	box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
bordesMaterialDos()
	box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
*
	margin 0
	padding 0
body
	background-color capehoney
	color concreto
	text-align center
	font-family 'Roboto', sans-serif
	font-size 16px
	text-rendering optimizeLegibility
@import 'menu'
@import 'buttons'
.white-spacex
	height 70px
	width 100%
#contenedor-default
	align-items center
	background-color white
	display flex
	flex-direction column
	justify-content center
	height 650px
	width 100%
@import 'next-events'
@import 'services'
@import 'product'
@import 'contact'
footer
	align-items center
	background-color capehoney
	color crusta
	display flex
	flex-direction column
	justify-content center
	height 100px
	width 100%
@import 'admin'